#Ignore these compiled files
build/*
debug/*
dist/*
nbproject/*

#Ignore files being edited
~*

#Don't ignore these files they are special :)
!nbproject/configurations.xml
!nbproject/project.xml
!*.hex
